* {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "azurnorms-bold";
  src: url("fonts/TTNorms-Bold.woff2");
}

@font-face {
  font-family: "azure-medium";
  src: url("fonts/azure-medium.woff2");
}

@font-face {
  font-family: "azure-norm";
  src: url("fonts/azur-norm.woff2");
}

@font-face {
  font-family: "segoe-medium";
  src: url(fonts/latest.woff2);
}

@font-face {
  font-family: "mfd-regular";
  src: url(fonts/mwfmdl2-v3.54.woff);
}

@font-face {
  font-family: "segeo-regular";
  src: url(fonts/latest\(1\).woff2);
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.azure {
  overflow-x: hidden;
}

header {
  /* width: 100%; */
  display: flex;
  min-width: 280px;
  overflow-x: hidden;
  height: 54px;
}

.header-padding {
  max-width: 1600px;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  /* padding: 2px 0; */
  width: 100%;
  margin-top: -10px;
  /* background-color: aqua; */
  bottom: -15px;
  overflow-x: hidden;
  border-bottom: 1px solid #d4d4d4;
  height: 54px;

}

.left-side {
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center;
  height: 54px;

}

.menu-button {
  margin: 1px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -4px; */
  /* margin-left: -1px; */
}

.menu-button img {
  width: 20px;
  height: 15x;
  margin-top: 7px;
}

.search {
  left: 1px;
  padding: 8px 8px 8px 0;
  margin-left: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 8px;
  width: 20px;
  height: 20px;
  margin-left: 7px;
}

.search img {
  width: 20px;
  height: 22px;
  transform: scaleX(-1);
}

.logo {
  margin: 1px;
  padding: 12px 4px 5px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 116px;
  height: 44px;
  margin-left: -3px;

}

.logo img {
  margin-top: -3px;
  max-width: none;
  width: 108px;
}

.empty {
  right: 0;
  width: 82px;
}

.azure-button {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: left;
  padding: 6px 15.1px 2px 15.1px;
  font-family: "azure-medium";
  height: 100%;
  margin: 0 1px;
  text-align: left;
  /* letter-spacing: -0.1px; */
  font-size: 15px;
  gap: 9px;
  /* border-bottom: 1px solid #d4d4d4; */
  overflow-x: hidden;
}


.azure-button>div:last-child {
  margin-top: 4.4px;

}

.azure-button img {
  width: 16.3px;
  height: 17px;
}

.tab-header {
  display: none;
}

.main-content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.banner {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.background {
  object-fit: cover;
  /* width: 100% !important; */
  top: 0;
  display: flex;
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  /* aspect-ratio: 1/1; */
}

.background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  min-height: 664px;
  display: flex;
  overflow: hidden;
}

.banner-content-padding {
  position: absolute;
  /* padding-right: 4rem; */
  /* padding-left: 4rem; */
  /* padding: 0 64px; */
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  /* top:88px; */
  /* height: 100%; */

}

.banner-margin {
  padding: 0 16px;
  /* height: max-content; */
}

.banner-content {
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
  text-align: left;
  /* align-items: center; */
  justify-content: left;

  /* height: max-content; */


}

.banner-content>div:first-child {
  font-family: "segoe-medium";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.96px;
  padding-bottom: 10px;
}

.head {
  width: 100%;
  text-align: left;
}

.head h1 {
  font-family: "segoe-medium";
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1.6px;
  font-weight: 400;
}

.heading-paragraph {
  display: flex;
  text-align: left;
  padding-top: 10px;
}

.heading-paragraph p {
  font-family: "segeo-regular";
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: -0.54px;
}

.head-buttons-padding {
  margin-top: 24px;
  display: block;
}

.head-buttons {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.head-buttons button {
  display: flex;
  justify-content: center;
  font-size: .9375rem;
  line-height: 1.375rem;
  letter-spacing: -.02em;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-family: "segoe-medium";
  font-size: 15px;
  line-height: 1.375rem;
  letter-spacing: -0.3px
}

.head-buttons button:first-child {
  background-color: #0078d4;
  color: #ffffff;
}

button:last-child {
  background-color: #89c402;
}

.banner-empty {
  display: none;
}

.section1 {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: max-content;
  overflow-x: hidden;
}

.sticky-nav {
  display: flex;
  flex-flow: row;
  height: fit-content;
  margin-top: 0px;
  /* background-color: #0078d4; */
  width: max-content;
  height: max-content;
  margin-top: 0px;
  width: 100%;
  position: sticky;
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;

}

.stickynav-padding {
  align-items: center;
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
}

.nav-content1 {
  margin: 0.25rem;
  display: flex;
  width: 100%;
  flex-flow: row;
  align-items: center;
  border-bottom: 4px solid #0067b8;
  margin-top: 8px;

}


.nav-content1>span {
  padding: 0.75rem;
  font-family: "segoe-medium";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.48px;
  display: flex;
  color: #0067b8;
  background-color: #ffffff;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.nav-content1>div img {
  width: 12.567px;
}

.nav-content2 {
  display: flex;
  width: 100%;
}

.nav-content2 button {
  border: none;
  /* padding: 10px 12px; */
  display: flex;
  font-family: "segoe-medium";
  font-size: 15px;
  line-height: 22px;
  width: 100%;
}

.nav-content2 button>div {
  background-color: #89c402;
  /* padding: 0.75rem; */
  width: 100%;

}

.mobile-hide {
  display: none;
}

.main-section {
  /* width: max-content; */
  display: block;
  background-color: #f4fafd;
  width: 100%;
  height: auto;
  overflow-x: hidden;

}

.main-section-padding {
  padding: 56px 0px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

}

.content1 {
  padding-right: 1rem;
  padding-left: 1rem;
  /* width: 100%; */
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  width: 100%;
}

.content1-head {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  padding-bottom: 20px;
}

.content1-head>div {
  font-family: "segoe-medium";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.96px;
  padding-bottom: 10px;
}

.head-one h2 {
  font-family: "segoe-medium";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1.2px;
  font-weight: 200;
}

.content-one {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.25rem;
  margin-left: -.25rem;
}

.content-one-padding {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-right: .25rem;
  padding-left: .25rem;
  /* column-gap: 0.75rem; */
  /* flex-wrap: wrap; */
  width: 100%;
  height: 100%;
  gap: 10px;
}

.content-item {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  column-gap: 2rem;
  box-shadow: 0 0 0.125rem rgb(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
  height: 100%;
  border: 0.0625rem solid #e6f2fb;
  border-radius: 1rem;
  /* padding-bottom: 20px; */

}

.item-top-padding {
  padding: 8px 8px 0 8px;
  display: block;
  /* width: 100%; */

}

.item-top {
  border-radius: 8px;
  display: flex;
  width: inherit;
  height: auto;
  object-fit: cover;
  /* aspect-ratio:1.77778; */


}

.item-top img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: flex;
  /* aspect-ratio:1.77778; */
  height: auto;
}

.card-content {
  padding: 1rem;
  display: block;

}

.first-content {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 0.75rem;
  flex-flow: column;
  width: 100%;

}

.first-content-head {
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin-top: 10px;

}

.first-content-head h3 {
  font-family: "segoe-medium";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.54px;
  font-weight: 400;
}

.first-content-discript {
  padding-right: 20px;
}

.discript-padding {
  display: flex;
  text-align: left;
  align-items: flex-start;
  width: 100%;
}

.first-content-discript p {
  font-family: "segeo-regular";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  font-weight: 400;
}

.first-content-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.first-content-footer>div {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  align-items: center;
}

.first-content-footer>div span {
  display: flex;
  align-items: center;
  /* padding: 0.5rem; */
  /* border: 2px solid transparent; */
  justify-content: center;
  width: 34.7px;
  height: 35px;
  background-color: #0078d4;
  border-radius: 8px;
}

.first-content-footer>div img {
  width: 14.7px;
  height: 15px;
  filter: invert(1);
}

.first-content-footer:last-child p {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.48px;
  color: #004275;
  font-family: "segoe-medium";

}

.content2-bg {
  background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/solution-background_mobile-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=995&qlt=100&fmt=png-alpha&fit=constrain);
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;

}


.second-item {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: -.25rem;
  margin-left: -.25rem;
}

.second-item-padding {
  display: flex;
  flex-direction: column;
  padding-right: .25rem;
  padding-left: .25rem;
  gap: 1.5rem
}

.scrollbar-buttons {
  margin-right: 0;
  margin-left: 0;
  display: block;
}

.tab-overflow {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  scrollbar-width: none;
  display: block;
  /* width: 696px; */
  width: 100%;
}

.button-contents {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  overflow-x: scroll;
  width: 100%;

}

.button-one {
  background-color: #e5ecf3;
  margin-right: 0.5rem;
  color: #005597;
  border-radius: 200px;
  cursor: pointer;
  padding: .5rem 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "segoe-medium";
  min-width: max-content;
}

.button-one:first-child {
  background-color: #005597;
  color: #fff;
}

.button-one span {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.300px;
  padding-bottom: 0.125rem;
}

.tab-arrow {
  display: block;
  width: max-content;
  width: 100px;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  right: 0;
  margin-top: -50px;
  background-image: linear-gradient(270deg, white, white, white, white, white, transparent);

}

.tab-arrow>div {
  /* background: linear-gradient(90deg,#f2f2f2 25%,rgba(242,242,242,0) 100%);; */
  border: 2px solid #004275;
  border-radius: 12.5rem;
  width: calc((0.5rem*2)+1.5rem);
  padding: 8px;
  display: flex;
}

.tab-arrow img {
  width: 18px;
  height: 18px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.25rem;
  margin-left: -.25rem;
  width: 100%;
  /* overflow: hidden; */
  height: 100%;
}

.section>div {
  width: 100%;
  padding-right: .5rem;
  padding-left: .5rem;
  /* overflow: hidden; */

}

.section-margin {
  margin-top: 24px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  /* overflow: hidden; */

}

.section-margin ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0;
  /* overflow: hidden; */

}

.section-margin ul li {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #bdc5d2;
  justify-content: center;
}

.section-margin ul li:not(:first-child) {
  padding: 2rem 0;
}

.list-contents {
  font-display: flex;
  width: 100%;
  flex-flow: column;
  /* margin-left:2rem; */
}

.list-head {
  width: 100%;
  display: flex;
  text-align: left;
  cursor: pointer;
  align-items: center;
  /* padding-bottom: 1.5rem; */
  justify-content: space-between;
}

.list-head h3 {
  font-family: "segoe-medium";
  font-size: 18x;
  line-height: 24px;
  letter-spacing: -0.54px;
  justify-content: left;
  display: flex;
  text-align: left;
  font-weight: 400;
}

.list-head img {
  width: 16px;
  height: 16px;

}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-sizing: border-box;
  padding-top: 1.5rem;
}

.list-discript {
  display: block;
}

.list-discript p {
  font-family: "segeo-regular";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  color: #002948;
}

.image-btn {
  display: block;
}

.img-head span {
  font-family: "segoe-medium";
  font-size: 12x;
  line-height: 18px;
  letter-spacing: -0.48px;
  color: #054577;
  text-decoration: underline;
}

.list-img {
  display: flex;
  margin-top: 20px;
  position: relative;

}

.ai-img {
  width: 100%;
  border-radius: 16px;
  /* max-width: 100%; */
  height: auto;
  display: flex;
  object-fit: cover;
}

.ai-img img {
  display: flex;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 16px;


}

.center-btn {
  position: absolute;
  padding: 0.75rem;
  display: block;
  /* margin-top: 140px;
 margin-left: 200px; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-btn>div {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.875rem;
  justify-content: center;
  background-color: #0078d4;
  border-radius: 8px;
}

.center-btn img {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
}

.content2-head {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  padding-bottom: 20px;
}

.content2-head>div {
  font-family: "segoe-medium";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.96px;
  padding-bottom: 10px;
}

.content3-bg {
  background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/product-background_desktop_homepage?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=1129&qlt=100&fmt=png-alpha&fit=constrain);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.content3-padding {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.content3-padding .tab-arrow {
  background-image: linear-gradient(270deg, #f7fbfe, #f7fbfe, #f7fbfe, #f7fbfe, #f7fbfe, transparent);

}

/* .content3{
  padding-right: 4rem;
    padding-left: 4rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
} */
.content3-section {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  row-gap: 0.75rem;
  flex-flow: column;
}

.content3-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 20/8.6;
  object-fit: cover;
  display: flex;
  border-radius: 16px;
}

.content3-img img {
  /* aspect-ratio: 1/1; */
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;

}

.image-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.1) 80%);
}

.image-info {
  display: flex;

  position: relative;
}

.picture-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.picture-content>div {
  align-items: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.pic-head {
  display: flex;
  align-items: flex-start;
  text-align: left;

}

.pic-head h3 {
  font-family: "segoe-medium";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -1px;
  color: #f4fafd;
}

.pic-button {
  display: flex;
  flex-direction: column !important;
  box-sizing: border-box;
  align-items: flex-start;
  text-align: left;
  gap: 10px
}

.text p {
  font-family: "segeo-regular";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  color: #f4fafd;

}

.text-button {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.text-button>div {
  display: flex;
  background-color: #b3daf0;
  border: 2px solid transparent;
  width: 157.133px;
  height: 52px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  justify-content: center;
  /* border: 2px solid #9400ff ; */

}

.text-button>div span {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.300px;
  font-family: "segoe-medium";
  align-items: center;


}

.grid-contents {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 100%;
  gap: 14px;
  margin-top: 4px;
}

.grid-column-padding {
  display: block;
  width: 100%;
  background-color: #fefefe;
  column-gap: 2rem;
  box-shadow: 0 0 0.125rem rgb(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
  height: 100%;
  border: 0.0625rem solid #e6f2fb;
  border-radius: 1rem;
}

.grid-column {
  display: flex;
  flex-flow: column;
  padding: 16px;
  gap: 32px;
}

.top-part {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  text-align: left;
  gap: 12px;
}

.grid-top-button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid #e6f2fb;
  border-radius: 8px;
}

.grid-button {
  max-height: 24px;
  max-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-descript {
  display: flex;
  flex-flow: column;
  gap: 9px;
}

.grid-head {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.grid-head h4 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.56px;
  font-family: "segoe-medium";
  color: #002948;
}

.grid-text {
  display: flex;
  align-items: flex-start;

}

.grid-text p {
  font-family: "segeo-regular";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  color: #1e2b43;
}

.content4 {
  display: flex;
  width: 100%;
  height: 100%;
}

.content4-padding {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.big-button-padding {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  height: 100%;
}

.big-content {
  padding-right: .25rem;
  padding-left: .25rem;
  display: flex;
  flex-direction: column;
}

.big-button-margin {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.25rem;
  margin-left: -.25rem;
  flex-flow: column;
}

.big-button-background {
  background-color: #fefefe;
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  box-shadow: 0 0 0.125rem rgb(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);

}

.top-image {
  display: flex;
  width: 100%;
  border-radius: 16px;
  aspect-ratio: 1.333333;
  object-fit: cover;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.top-image img {
  width: 100%;
  border-radius: 16px;
  /* aspect-ratio: 1.333333; */
  object-fit: cover;

}

.top-button-descript {
  display: flex;
  padding: 1rem 0.75rem;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;


}

.top-descript-padding {
  display: flex;
  padding: 28px 0;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  flex-flow: column;
  gap: 12px
}

.head-portion {
  display: flex;
  align-items: flex-start;
  width: 100%;
  text-align: left;
}

.head-portion h3 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1.2px;
  font-family: "segoe-medium";
  color: #0e1726;
  font-weight: 400;
}

.button-portion-content {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  padding-bottom: 5px;
}

.button-portion-content p {
  font-family: "segeo-regular";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  color: #2f3c51;
  width: 100%;
}

.button-text {
  width: 100%;
  display: flex;

}

.button-text>div {
  max-width: 119.55px;
  width: 100%;
  /* height: 52px; */
  background-color: #0078d4;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.3px;
  font-family: "segoe-medium";
  padding: 15px 0px;
  color: #fff;
  border-radius: 8px;
  /* padding-bottom: 00; */
}

.button-text span {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.3px;
  font-family: "segoe-medium";
  /* align-items: center;
  justify-content: center;
  text-align: center; */
}
.content5{
  display:flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  overflow-x: hidden;

   
}
.content5-flex{
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-flow: column;

}
.content5-head{
  padding-right: .25rem;
    padding-left: .25rem;
    display: flex;
    /* width: 100%; */
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.content5-head-padding{
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  box-sizing: border-box;

}
.head {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  padding-bottom: 20px;
  box-sizing: border-box;

}

.head>div {
  font-family: "segoe-medium";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.96px;
  padding-bottom: 10px;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;

}
.head-main h2{
  font-family: "segoe-medium";
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.4px;
  font-weight: 200;
  box-sizing: border-box;

}
.content5-portion{
  box-sizing: border-box;
  /* display: block; */
  background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_mobile@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=383&qlt=85&fmt=png-alpha&fit=constrain);
  /* background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_mobile@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=383&qlt=85&fmt=png-alpha&fit=constrain); */
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  /* height: 500px; */
  background-size: cover;
}
.content5-portion-padding{
  display: flex;
  flex-flow: column;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 1336px;
}
.content5-button-division{
  width: 100%;
  box-sizing: border-box;
display: block;
}
.button-division-padding{
  overflow-x: scroll;
overflow-y: hidden;
scrollbar-width: none;
display: block;
}
.button-width{
  width: 1332px;
  display: block;
  box-sizing: border-box;
}
.long-button{
  /* padding-left: .5rem !important; */
  align-items: center !important;
  display: flex;
  padding-bottom: .5rem;
  padding-top: 0.5rem;
  box-sizing: border-box;
}
.long-button ul{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
  gap: 0;
  padding: 0;
}
.long-button ul li{
 background-color: #fefefe;
 overflow: hidden;
 height: 52px;
 /* padding: 1rem 1rem 1rem 1rem; */
 border: 0.0625rem solid #e1e3e6;
 /* box-shadow: 0 0 0.125rem rgb(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14); */
 width: 221.333px;
 align-items: center;
 display: flex;

}
.long-button ul li span{
  text-align: left;
  display: flex;
  align-items: flex-start;
  font-family: "segoe-medium";
  font-size: 16px;
  line-height: 24px;
  padding-left: 1rem;
}
.long-button ul li:first-child{
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
color: #000;
z-index: 1;
}
.long-button ul li:last-child{
  border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}
.long-button ul li:last-child span{
  /* background-color: #005597; */
  width: 100%;
}

.content5-portion .tab-arrow{
  margin-top: -55px;
  margin-right: -45px;
  cursor: pointer;
  height: 40px;
  background-image: linear-gradient(270deg, #f7fbfe, #f7fbfe, #f7fbfe, #f7fbfe, #f7fbfe, transparent);

}

.tab-panel-padding{
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  width: 100%;
}
.tab-panel{
  text-align: center;
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  width: 100%;

}
.tab-panel-top{
  display: flex;
  align-items: center;
  flex-flow: column;
}
.tab-panel-head{
  display: flex;
  flex-flow: row;
  align-items: center;
  text-align: center;
}
.tab-panel-head h3{
  font-family: "segoe-medium";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -1.2px;
  font-weight: 400;
}
.tab-panel-top .first-content-footer{
  align-items: center;
  justify-content: center;
  /* padding-top:16px; */
  margin-top: 15px;
}
.tab-panel-img{
  display: flex;
  padding: 1rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  aspect-ratio: 1.77778;
  max-width: 100%;
  width:fit-content;
  height: auto;
  object-fit: cover;
}
.tab-panel-img img{
  object-fit: cover;
  border-radius: 16px;
  width: 100%;
}
.content6{
  width: 100%;
}
.content6-bg{
  object-fit: cover;
 width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  /* aspect-ratio: 10/5; */
  background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Desktop-AzureRegions-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3200&hei=983&qlt=95&fmt=png-alpha&fit=constrain);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 416px;
  /* aspect-ratio: 4/1; */
  /* position: relative; */
  box-sizing: border-box

}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -.25rem;
  margin-left: -.25rem;
box-sizing: border-box;
width: 100%;
}
.col{
  padding-right: .25rem;
  padding-left: .25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}
.glob-contents{
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  display: flex;
  /* height: max-content */
  height: 100%;
  gap:16px;
  box-sizing: border-box;

}
.glob-head{
  display: flex;
width: 100%;
align-items: center;
text-align: center;
justify-content: center;
top:0;
}
.glob-head h2{
  font-family: "segoe-medium";
  font-size: 28px;
  line-height: 26px;
  letter-spacing: -1.2px;
  font-weight: 400;
  color: #f4fafd;
}
.glob-descript{
  width: 100%;
  display: flex;
  margin-top: 8px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.glob-descript p{
  font-family: "segeo-regular";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.48px;
  color: #dceef8;
}
.glob-button-margin{
  margin-top: 16px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.glob-button  {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-content: center;
  text-align: center;  
  background-color: #b3daf0;
  padding: 1rem;
  border: none;
  border-radius: 8px;
 width: 100%;
 box-sizing: border-box;

}
.glob-button span{
  font-family: "segoe-medium";
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -.3px;
  width: 100%;
}
.content7{
  display: block;
  box-sizing: border-box;
}
.content7-main{
  /* margin-top: 1rem; */
  /* margin-right: -.25rem;
    margin-left: -.25rem; */
    display: flex;
}
.content7-padding{
  display: flex;
  flex-direction: column;
  padding-right: .25rem;
    padding-left: .25rem;
    width: 100%;
}
.content7-section1-padding{
  padding: .1875rem;
  width: 100%;
  display: flex;
  
}
.content7-section1{
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color:#fefefe ;
  height: auto;
  border-radius: 16px;
}
.content7-img{
  width: 100%;
  border-radius: 8px;
  display: flex;
  object-fit: cover;
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: 0.5rem;
  box-sizing: border-box;
  
}
.content7-img img{
  width: 100%;
  height:100%;
  border-radius: 8px;

}
.content7-descript{
  display: flex;
  flex-flow: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

}
.descript-top{
  gap:0.75rem;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;

}
.descript-img{
  width: 100%;
  align-items: flex-start;
  display: flex;
  justify-content: left;
}
.img-border{
  max-width: 100%;
  display: flex;
  height: auto;
  align-items: flex-start;
  border-radius: 8px;
  border: 0.0625rem solid #c1c9cf;

}
.token-text{
  display: flex;
  align-items: flex-start;
  text-align: left;
}
.img-border img{
width: 100%;
height: 100%;
border-radius: 8px;
}
.token-text{
  width: 100%;
  display: flex;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
}
.token-text span{
  font-family: "segoe-medium";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -1px;
  text-align: left;
  padding-right: 10px;
}
.product-head{
  display: block;
}
@media screen and (min-width:270px) {

  .background video {
    min-height: 608px;
  }

  .nav-content2 {
    width: 100%;
    max-width: 142.017px;
  }

  .nav-content2 button {
    text-align: center;
    padding: 0.5rem;
    border-radius: 8px;
  }

  .mobile-hide {
    display: none;
  }
.content6-bg{
  height: 388px;
}
.content7{
  display: block;
  box-sizing: border-box;
}

}

@media screen and (min-width:346px) {
  .background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    min-height: 484px;
    display: flex;
  }

  .banner-empty {
    display: none;
  }

  .mobile-hide {
    display: none;
  }
}
@media screen and (min-width:378px) {
  .content6-bg{
    height: 348px;
  }
}
@media screen and (min-width:395px) {
  .content6-bg{
    height: 320px;
  }
}
@media screen and (min-width:488px) {
  .background video {
    min-height: 456px;
  }

  .mobile-hide {
    display: none;
  }
}

@media screen and (min-width:540px) {

  .background video {
    height: 100%;
    max-height: 424px;
  }

  .banner-margin {
    padding: 0 64px;
    display: flex;
    align-items: center;
    /* height: 100%; */
    /* padding-top: 20px; */
  }

  .banner-content {
    display: flex;
    flex-flow: column;
    margin-top: 2rem;
    text-align: left;
    /* align-items: center; */
    justify-content: left;

    height: 100%;
  }

  .head-buttons {
    display: flex;
    flex-flow: row;
  }

  .head-buttons button {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 8px;
    font-family: "segoe-medium";
    font-size: 15px;
    line-height: 1.375rem;
    letter-spacing: -0.3px;
  }

  .head-buttons button:first-child {
    background-color: #0078d4;
    color: #ffffff;
  }

  button:last-child {
    background-color: #89c402;
  }

  .banner-empty {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  .content1 {
    padding-right: 4rem;
    padding-left: 4rem;
    /* width: 100%; */
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .tab-arrow {
    /* margin-right: 8px; */
  }

  .banner-content {
    padding: 0 4rem;
  }

  .list-head {
    justify-content: left;
    gap: 10px;
  }

  .content5-portion .tab-arrow{
    /* display: block; */
    display: flex;
    margin-right: 0;
    height: 58px;
    margin-top: -65px;
    align-items: center;
    background-image: linear-gradient(270deg, #f7fbfe, #f7fbfe, #f7fbfe, #f7fbfe, #f7fbfe, transparent);

  }
  .content5-portion-padding{
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .content5-portion{
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_mobile@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=383&qlt=85&fmt=png-alpha&fit=constrain);
    /* background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_mobile@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=383&qlt=85&fmt=png-alpha&fit=constrain); */
  }
  .glob-button-margin{
    width: fit-content;
  }

}


/* margin:0 0 0.75rem */
@media screen and (min-width:717px) {
  .background video {
    min-height: 368px;
  }

  .mobile-hide {
    display: none;
  }
  .content5-portion{
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_mobile@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=383&qlt=85&fmt=png-alpha&fit=constrain);
     /* background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_mobile@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=383&qlt=85&fmt=png-alpha&fit=constrain); */
  }
}
@media screen and (min-width:813px) {
  .content6-bg{
    height: 292px;
  }
}
@media screen and (min-width:828px) {
  .tab-arrow {
    display: none;
  }
}

@media screen and (min-width:860px) {
  .header-padding {
    display: none;
  }

  .azure-button {
    display: none;
  }

  .hide-tab {
    display: none;
  }

  .tab-header {
    display: block;
    margin-bottom: 2px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    /* min-height: 54px; */
    margin-top: -8px;
    margin-right: 3px;
  }

  .tab-header-padding {
    display: flex;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .tab-left {
    /* width: 100%; */
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
  }

  .logo {
    padding-left: 9px;
  }

  .azure-text {
    display: flex;
    flex-flow: row;
    width: 81.1833px;
    height: 100%;
    height: 100%;

    text-align: center;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    /* padding-top: 6px; */
    margin-top: 5.5px;
  }

  .azure-text p {
    font-family: "segoe-medium";
    padding: 15px 6px 16px 16px;
    float: left;
    /* height: 100%; */
    margin-top: 1px;
    font-size: 18px;
    font-weight: 400;
    /* margin-top: -3px */
    margin-left: 3px;
    /* padding-right: ; */
  }

  .azure-text::before {
    border-left: 2px solid #000;
    height: 24px;
    content: " ";
    margin-left: 7px;
    /* position: absolute; */
    margin-top: 1px;
    top: 15px;
    left: 0;
  }

  .header-nav {
    /* padding-left: 2px; */
    padding-right: 1px;
    height: 100%;
    overflow: hidden;
    min-width: fit-content;
    width: 100%;
    display: flex;
    padding-top: 9px;
    justify-content: left;
    align-items: center;
    text-align: left;
    left: 0;
    margin-left: 0px;
    max-width: 542.817px;
    margin-left: -25.1px;
    letter-spacing: -0.1px;
  }

  .header-nav ul {
    display: flex;
    flex-flow: row;
    /* width: 100px; */
    list-style: none;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    gap: 0px;
    max-width: min-content;

  }

  .header-nav ul li {
    color: #262626;
    font-family: "azure-norm";
    min-width: 86.2833px;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row;
    letter-spacing: -0.5px;
    max-width: min-content;
    cursor: pointer;
  }

  .header-nav ul li:nth-child(2) {
    margin-left: -6.5px;
  }

  .header-nav ul li:nth-child(3) {
    margin-left: 1.5px;

  }

  .header-nav ul li:nth-child(4) {
    margin-left: 4px;
    /* display: none; */
    /* letter-spacing:- 0.0000001px; */

  }

  .header-nav ul li:nth-child(5) {
    margin-left: -9px;
    /* display: none; */

  }

  .header-nav ul li:nth-child(6) {
    display: none;

  }

  .header-nav ul li:last-child {
    display: flex;
  }

  .header-nav ul li img {
    width: 11px;
    height: 11px;
    margin-left: 5.5px;
    margin-top: 5px;
  }

  .header-nav ul li nav:hover {
    border-bottom: 2px solid gray;
  }

  .header-nav ul li>div {
    margin-top: 2.9915px;
  }

  .tab-right {
    display: flex;
    /* padding:10px; */
    flex-flow: row;
    width: 100%;
    justify-content: right;
    align-items: center;
  }

  .header-nav ul .tab-hide {
    display: none;
  }

  .azure {
    overflow: hidden;
  }

  .rightside-nav {
    display: none;
  }

  .background {
    /* width: 100%; */
    height: 100%;
    overflow: hidden;
  }

  .background video {
    height: 100%;
    max-height: 628px;
    width: 100%;
  }

  .banner-content-padding {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 6rem 0;
    /* height: fit-content; */

  }

  .banner-margin {
    width: 50%;

  }

  .banner-content {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
  }

  .head h1 {
    font-size: 40px;
    line-height: 48px;
    margin-top: 5px;
  }

  .banner-empty {
    display: flex;
    width: 50%;
    height: fit-content;
  }

  .search span {
    display: none;
  }

  .stickynav-padding {
    max-width: 100vw;
    align-items: center;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    display: flex !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fefefe;
    min-height: max-content;
    /* height: 500px; */
    /* padding-bottom: 100px; */
  }

  .nav-content1 .hide-span {
    display: none;

  }

  .arrow {
    display: none;
  }

  .nav-content1 {
    border: none;
    padding-top: 0;
    flex: 1;
  }

  .nav-content1 ul {
    text-align: left;
    left: 0;
    right: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: left;
    align-items: left;
    /* margin-top: 10px; */
    list-style: none;
    padding-left: 0;
    padding-bottom: 15px;
    padding-top: 6px;
    margin-left: -5px;
  }

  .nav-content1 ul li {
    padding-left: 0.25rem;
    width: fit-content;
    display: flex;
    flex-flow: column;
    padding-right: 45px;
    cursor: pointer;
  }

  .nav-content1 ul li:first-child {
    /* padding-left: 0; */
  }

  .nav-content1 ul li:first-child span {
    /* padding-left: 0; */

  }

  .nav-content1 ul li:last-child {
    /* padding-left: 0; */
    padding-top: 11px;
    margin-left: -3px;
  }

  .nav-content1 ul li div {
    align-items: start;
  }

  .nav-content1 span {
    /* padding:.75rem  0; */
    font-family: "segoe-medium";
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.48px;
    display: flex;
    color: #004275;
    /* background-color: #ffffff; */
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;

  }

  .nav-content2 button {
    /* height:58px ; */
    align-items: center;
    /* margin-top: 10px; */
    padding: 7px 16px;
  }

  .nav-content1 ul li:first-child {
    /* border-bottom: 5px solid #0067b8; */
    gap: 15px;
  }

  hr {
    color: #0067b8;
    height: 4px;
    background-color: #0872c4;
    border: none;
    border-radius: 25px;
  }

  .main-section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .content-one-padding {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px
  }

  .card-content {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }

  .content-one {
    padding-top: 1rem;
  }

  .item-top img {
    border-radius: 16px;
  }

  .content-item {
    border-radius: 16px;
  }

  .content1 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .content-one-padding {
    padding-left: 8px;
    padding-right: 8px;
  }

  .first-content {
    gap: 1rem
  }

  .empty {
    width: 50%;

  }

  .content2-head {
    display: flex;
    flex-flow: column;
    max-width: 50%;
    padding: 0;
  }

  /* .section-margin{
  position: relative; 

} */
  /* .section>div{
  position: relative;
} */
  .section-margin {
    position: relative;

  }

  .section-margin ul {
    max-width: 32%;

  }

  .section-margin ul li {
    margin-left: 3rem;
  }

  .list-contents {
    display: flex;
    flex-flow: column;
    /* position: relative; */
  }

  .list-img {
    position: absolute;
    top: 0;
    right: 0;
    /* width: 100%; */
    left: 50%;
  }

  .list-head h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .img-head span {
    font-size: 14px;
    line-height: 20px;
  }

  .section-margin ul .first-li {
    /* border-left: 2px solid #0078d4; */
  }

  .grid-contents {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
    column-gap: 18px;
  }

  .grid-column {
    gap: 3rem;
    padding: 24px;
  }

  .grid-descript {
    gap: 12px;
  }

  .top-part {
    gap: 16px
  }

  .grid-column .img-head {
    padding-bottom: 2px;
  }

  .content2-bg {
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/product-background_desktop_homepage?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=1129&qlt=100&fmt=png-alpha&fit=constrain);
    /* background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/solution-background_mobile-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=995&qlt=100&fmt=png-alpha&fit=constrain); */
  }
  .big-button-background{
    display: flex;
    flex-flow: row-reverse;
    gap:60px
  }
  .top-image{
    height: 100%;
    /* flex: 0 0 50%; */
    max-width: 50%;
    display: flex;
    aspect-ratio: 10/13.8;
    max-height: 496px;


    /* f; */
  }
  .top-image img{
    max-height: 496px;
   /* max-height: 100%; */
  }
  .top-descript-padding{
    align-items: center;
    justify-content: center;
    /* padding: 0; */
    display: flex;
    vertical-align: middle;
    /* padding:70px 0; */
    width: 100%;
    height: 100%;
  }
  .button-empty{
   /* height: 100%; */
   min-height: 70px;
    /* eight: 60px;h */
    display: flex;
  }
  .content4-padding{
    padding: 4.5rem 0;
  }
  .content5-portion .tab-arrow{
    /* display: block; */
    display: flex;
    margin-right: 0;
    height: 65px;
    margin-top: -72px;
    align-items: center;
    background-image: linear-gradient(270deg, #f7fbfe, #f7fbfe, #f7fbfe, #f7fbfe, #f7fbfe, transparent);

  }
  .long-button ul li{
    height: 64px;
  }
  .content5-portion{
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_mobile@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=383&qlt=85&fmt=png-alpha&fit=constrain);
  }
  .tab-panel{
    align-items: center;
  }
  .tab-panel-top{
    width: calc(83.33333%);
    align-items: center;
    text-align: center;
    margin: auto;
  }
.tab-panel-img{
  width: 66.667%;
    margin: auto;
    padding: 1.5rem;
    margin-top: 2rem;
}
.content6-bg{
  height: 400px;
}
.glob-head h2{
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1.5px;
}
.glob-descript{
  margin-top: 1rem;
}
}
  


@media screen and (min-width:920px) {
  .nav-content2 button {
    height: max-content;
    padding: 8px 10px;
  }

  .nav-content1 ul li:last-child {
    /* padding-left: 0; */
    /* padding-top: 10px; */

    padding: 0;
  }
}

@media screen and (min-width:1084px) {
  .header-padding {
    display: none;
  }

  .tab-header-padding {
    padding: 0 5%;
    /* gap: 70px; */
  }

  .header-nav ul .hide-tab {
    display: none;
  }

  .rightside-nav {
    width: fit-content;
    display: flex;
    flex-flow: row;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    /* padding-bottom: 10px; */
    /* margin-left: 20px; */
    gap: 10px;
  }

  .rightside-nav ul {
    display: flex;
    flex-flow: row;
    width: 100%;
    list-style: none;
    justify-content: flex-start;
    max-width: min-content;
    align-items: flex-start;
    /* max-width: 418.783px; */
  }

  .rightside-nav ul li {
    color: #262626;
    font-family: "azure-norm";
    /* min-width: 46.2833px; */
    font-size: 14px;
    display: inline-flex;
    flex-flow: row;
    letter-spacing: -0.5px;
    max-width: min-content;
    cursor: pointer;
    padding: 10px 7px 0px 7px;
    align-items: center;
    justify-content: center;

  }

  .rightside-nav .green {
    background: #89c402;
    width: max-content;

    color: #262626;
    font-family: "azure-norm";
    font-size: 14px;
    border: none;
    padding: 5px 5px;
    padding-bottom: 8px;
    border-radius: 3px;
    align-items: center;
    /* gap:/ */
    margin-top: 10px;
  }

  .rightside-nav ul li:nth-child(4) {
    margin-top: 12px;
    padding-bottom: 0;
    position: relative;
  }

  .rightside-nav ul li:nth-child(3) {
    min-width: 77.963px;
    width: 100%;
    /* background-color: aqua; */
  }

  .rightside-nav ul li:not(:nth-child(4)) {
    padding-bottom: 8px;
  }

  .rightside-nav ul li:not(:nth-child(5)) {
    padding-bottom: 5px;
  }

  .rightside-nav .signin {
    background-color: transparent;
    border-radius: 3px;
    border-color: #000000;
    height: 31px;
    border: 1px solid;
    color: #262626;
    align-items: center;
    /* padding-bottom: 2px; */
    margin-top: 15px;
    /* padding-left: 7px; */
    /* padding-right: 7px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 15px; */
    display: flex;
    min-width: 57.116px;

  }

  .rightside-nav ul li:hover {
    border-bottom: 2px solid gray;
  }

  .header-nav ul li:last-child {
    display: flex;
  }

  .content1 {
    width: 90%;
    box-sizing: content-box;
    margin-right: auto;
    margin-left: auto;
  }

  .main-section {
    align-items: center;
  }
  .content5-portion{
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_mobile@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=383&qlt=85&fmt=png-alpha&fit=constrain);
  }

}

@media screen and (min-width:1172px) {
  .header-padding {
    display: none;
  }

  .header-nav ul li:nth-child(3) {
    display: flex;
  }

  .search span {
    display: none;
  }
}

@media screen and (min-width:1254px) {
  .header-nav ul li:nth-child(4) {
    display: flex;
  }

  .search span {
    display: none;
  }

}

@media screen and (min-width:1344px) {
  .header-nav ul li:nth-child(5) {
    display: flex;
  }

  .search span {
    display: none;
  }

  .banner-content-padding {

    /* padding:  6rem  0;
    padding-right: 12%;
    padding-left: 12%;
    width: 70%;
    justify-content: center;
    align-items: center; */

  }

  .banner-content-padding>div {
    align-items: center;
    display: flex;
    justify-content: initial;
    padding: 0 64px;
    width: 90%;
    box-sizing: content-box
  }

  .banner-margin {
    width: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner-content {
    justify-content: center;
    /* align-items: center; */
  }
}

@media screen and (min-width:1400px) {
  .tab-right .search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 3px;
    padding-right: 0;
    margin-left: 5px;
  }

  .tab-right .search span {
    display: flex;
    color: #262626;
    font-family: "azure-norm";
    /* min-width: 46.2833px; */
    font-size: 14px;
    letter-spacing: -0.5px;
    max-width: min-content;
    cursor: pointer;
    /* padding: 10px 7px 0px 7px; */
    align-items: center;
    justify-content: center;
  }

  .tab-header-padding {
    gap: 0px;
  }
}

@media screen and (min-width:1440px) {
  .banner-content-padding {
    padding: 6rem 0;

  }

  .banner-content-padding>div {
    /* max-width: 1328px; */
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    align-items: center;
    justify-content: initial;
  }

  .banner-margin {
    width: 50%;

  }

  .banner-content {
    display: flex;
    flex-flow: column;
  }

  .head h1 {
    font-size: 48px;
    line-height: 56px;
  }

  .heading-paragraph p {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.6px;
  }

  .content1 {
    max-width: 1328px;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
  }

  .content3-section {
    display: flex;
    flex-flow: row;
    gap: 16px;
  }

  .image-info {
    max-width: 24%;
    width: 100%;
  }

  .content2-bg {
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/solution-background_mobile-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=995&qlt=100&fmt=png-alpha&fit=constrain);
  }
  .big-button-padding{
    width: 100%;
  }
  .big-content{
    width: 100%;
  }
  .content4-padding{
    width: 100%;

  }
  .head-main h2{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2px;
  }
  .content5-portion .tab-arrow{
    display: none;
  }
  .content5-portion{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: auto;
  margin-right: auto;
  max-width: calc(1336px);
  }
  .content5-portion{
    /* background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_mobile@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=383&qlt=85&fmt=png-alpha&fit=constrain); */
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_mobile@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=383&qlt=85&fmt=png-alpha&fit=constrain);
  
  object-fit: cover;
}
.content6-bg{
  height: 412px;
}

}

@media screen and (min-width:1471px) {
  .banner-content {
    max-width: 653.94px;
    height: fit-content;
  }
}

@media screen and (min-width:1492px) {
  .header-nav ul li:nth-child(6) {
    display: flex;
  }

  .header-nav ul li:last-child {
    display: none;
  }
}
/* 2160 */